<nav class="navbar navbar-light bg-light"> 
  
  <a class="navbar-brand" [routerLink]="['/login']" >Login</a>  
  <div class="levo"><a class="navbar-brand space" [routerLink]="['/odabir']" >Odabir Casopisa</a><a class="navbar-brand space" [routerLink]="['/provera1']" >Provera Podataka</a>  <a class="navbar-brand space" [routerLink]="['/broj-rec']" >Broj Recenzenata</a> <a class="navbar-brand space" [routerLink]="['/update']" >Update</a>   </div>
</nav>
<div class="container"><div class="jumbotron"><router-outlet></router-outlet></div></div>
